@charset "UTF-8";

* {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* ELEMENTOS DA INTERFACE */

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

header > h1 {
    color: #333;
    text-shadow: 2px 2px 0px #888;
}

main, section, article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h2, h3, h4 {
    color: #333;
    margin: 0 0 10px 0;
}

a {
    color: #372991;
    text-decoration: none;
    border-bottom: 1px solid #372991;
    transition: color 0.3s, border-bottom 0.3s;
}

a:hover {
    color: #291f6c;
    border-bottom: 1px solid #291f6c;
}

/* TABELAS E LISTAS */

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin: 10px 0;
}

table th {
    background-color: #372991;
    color: white;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
}

table tr {
    background-color: #f9f9f9;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table.divisao {
    border: 1px solid #ccc;
}

table.divisao td {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

table.divisao tr:nth-child(1) td:nth-child(2) {
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(2) {
    border-left: 3px solid black;
}

table.divisao tr:nth-child(2) td:nth-child(1) {
    text-decoration: underline;
}

li {
    color: #555;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    color: #333;
}

form label {
    display: block;
    font-size: 0.8em;
    background-color: #f4f4f4;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

input[type=text],
[type=number],
select,
[type=date],
[type=date],
[type=datetime],
[type=email],
[type=month],
[type=password],
[type=range],
[type=tel],
[type=time],
[type=week],
[type=textarea] {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
[type=reset],
[type=button] {
    width: 100%;
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

input[type=submit]:hover,
[type=reset]:hover,
[type=button]:hover {
    background-color: #001e19;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 30, 25, 0.2);
}

input[type=submit] {
    background-color: #004d42;
    color: white;
}

input[type=reset] {
    background-color: #a36200;
    color: white;
}

input[type=button] {
    background-color: #001e19;
    color: white;
}

fieldset {
    border: 1px solid #ccc;
}

fieldset > legend {
    font-size: 1em;
    background-color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
}

input[type=radio] + label,
input[type=checkbox] + label {
    display: inline-block;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
}
